# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# CSV file
Python/hangman/game_stat/stat.csv

# LOG file
*.log

# coverage
*.coverage

# ide
.idea
