# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
*.env
.venv
env/
venv/

# CSV file
Python/hangman/game_stat/stat.csv
data_engineering/data/intro_bucket/covid/italy/*.csv

# LOG file
*.log

# coverage
*.coverage

# ide
.idea

# minio
data_engineering/data/.minio.sys
